@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom styles that extend Tailwind */
body {
  @apply font-sans antialiased text-gray-900 bg-gray-50;
}

/* Animation for ticket page */
.animate-pulse {
  animation: pulse 2s cubic-bezier(0.4, 0, 0.6, 1) infinite;
}

@keyframes pulse {

  0%,
  100% {
    opacity: 1;
  }

  50% {
    opacity: .5;
  }
}